[project]
name = "aoc25"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "basedpyright>=1.34.0",
]

[tool.ruff.lint]
# Disable fix for unused imports (`F401`).
unfixable = ["F401"]
